@model EmployeeRoleResponseModel
<div class="container">
    <form asp-controller="EmployeeRole" asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="my-5 row col-12">
            <label for="Position">Position</label>
            <input asp-for="Position" class="form-control" disabled />
            <span asp-validation-for="Position"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="Description">Description</label>
            <input asp-for="Description" class="form-control" disabled />
            <span asp-validation-for="Description"></span>
        </div>
        <div class="my-5 row col-12 form-check">
            <label for="IsActive">IsActive</label>
            <input type="checkbox" class="form-check-input" asp-for="IsActive" disabled>
            <span asp-validation-for="IsActive"></span>
        </div>
        <input type="submit" value="Add Employ Role" class="btn btn-danger" />
    </form>
</div>