@model CandidateResponseModel

<div class="container">
    <form asp-controller="Candidate" asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id"/>
    <div class="my-5 row col-12">
        <label for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="my-5 row col-12">
        <label for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="my-5 row col-12">
        <label for="Mobile">Mobile</label>
        <input asp-for="Mobile" class="form-control" />
        <span asp-validation-for="Mobile"></span>
    </div>
    <div class="my-5 row col-12">
        <label for="EmailId">Email Id</label>
        <input asp-for="EmailId" class="form-control" />
        <span asp-validation-for="EmailId"></span>
    </div>
    <input type="submit" value="Update Candidate" class="btn btn-primary"/>
    </form>
</div>