@model JobCategoryResponseModel
<div class="container">
    <form asp-controller="JobCategory" asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="my-5 row col-12">
            <label for="Name">Name</label>
            <input asp-for="Name" class="form-control" disabled />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="my-5 row col-12 form-check">
            <label for="IsActive">IsActive</label>
            <input type="checkbox" class="form-check-input" asp-for="IsActive" disabled />
            <span asp-validation-for="IsActive"></span>
        </div>
        <input type="submit" value="Add Job Category" class="btn btn-danger" />
    </form>
</div>