@model SubmissionResponseModel
<div class="container">
    <form asp-controller="Submission" asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="my-5 row col-12">
            <label for="CandidateId">Candidate</label>
            <select asp-for="CandidateId" class="form-control" disabled>
                @foreach (var item in ViewBag.CandidateList)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
            <span asp-validation-for="CandidateId"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="JobRequirementId">JobRequirement</label>
            <select asp-for="JobRequirementId" class="form-control" disabled>
                @foreach (var item in ViewBag.JobRequirementList)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
            <span asp-validation-for="JobRequirementId"></span>
        </div>
        <div class="my-5 row col-12 input-group date" data-provide="datepicker">
            <label for="AppliedOn">AppliedOn</label>
            <input asp-for="AppliedOn" class="form-control" disabled/>
            <span asp-validation-for="AppliedOn"></span>
        </div>
        <input type="submit" value="Add Submission" class="btn btn-danger" />
    </form>
</div>